@charset "UTF-8";


div.jumbotron {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px 50px;
    margin-bottom: 10px;
}

h1 {
    font-variant: small-caps;
}

h2 {
    padding: 0px 20px 40px 20px;
}

.container-fluid {
    padding: 30px 60px;
    text-align: center;
}

.glyphicon {
    font-size: 40px;
    text-align: center;
    margin: 0px 0px;
    color: black;
}

#menuBox {
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 10px;
}

.menu{
    padding: 0px 0px;
}

.menu li {
    display: inline;
    padding: 0px 20px;
}

.menu a {
    color:white;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: gray;
    text-decoration: none;
}

#menuFooter {
    text-align: center;
    margin-top: 60px;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul.long_list {
    text-align: left;
    margin-left: 40px;
}

.col-sm-5 {
    margin-bottom: 20px;
}

#Portfolio {
    margin-bottom: 20px;
}

.navbar {
    background-color: black;
    max-height: 20px;
}




/*these are used to make image size responsive, and are both combined into the img-responsive class in Bootstrap
img {
    max-width: 100%
    height: auto
}
*/



/*
.glyphicon-eye-open {
    color: cadetblue;
}

.glyphicon-fire {
    color: maroon;
}

.glyphicon-folder-open {
    color: indigo;
}

.glyphicon-check {
    color: darkgreen;
} */
