@charset "UTF-8";


div.jumbotron {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px 50px;
    margin: 0px;
    font-family: 'Comorant SC', serif;
}

#top {
    background: linear-gradient(white, black);
    padding: 10px;
}

.jumbotron h4 {
    font-family: 'Muli', sans-serif;
    letter-spacing: 2px;
}

.col-sm-12 {
    padding: 40px;
    background: linear-gradient(black, white)
}

h1 {
    font-variant: small-caps;
    font-family: 'Comorant SC', serif;
    letter-spacing: 6px;
    padding-bottom: 20px;
}

h3 {
    padding: 0px 20px 30px 20px;
}

.container-fluid {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.imgborder {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.glyphicon {
    font-size: 40px;
    text-align: center;
    margin: 0px 0px;
    color: black;
}

.menu {
    padding: 0px 0px;
}

.menu li {
    display: inline;
    padding: 0px 24px;
}

.menu a {
    color:white;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: gray;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul.long_list {
    text-align: left;
    margin-left: 40px;
}

.col-sm-5 {
    margin-bottom: 20px;
    font-family: 'Muli', sans-serif;
}

#Portfolio {
    margin-bottom: 20px;
}

.navbar {
    background-color: black;
    max-height: 20px;
    font-family: 'Muli', sans-serif;
    letter-spacing: -1px;
}


/*these are used to make image size responsive, and are both combined into the img-responsive class in Bootstrap
img {
    max-width: 100%
    height: auto
}
*/



/*
.glyphicon-eye-open {
    color: cadetblue;
}

.glyphicon-fire {
    color: maroon;
}

.glyphicon-folder-open {
    color: indigo;
}

.glyphicon-check {
    color: darkgreen;
} */
