@charset "UTF-8";


div.jumbotron {
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px 50px;
    margin-bottom: 5px;
    border: 10px solid white;
}

h1 {
    font-variant: small-caps;
}

h2 {
    padding: 30px;
}

.container-fluid {
    padding: 60px 60px;
    text-align: center;
}

.glyphicon {
    font-size: 180px;
    text-align: center;
    margin: 0px 0px;
}

#menuBox {
    text-align: center;
    padding: 0px 0px;
    margin-bottom: 60px;
}

.menu{
    padding: 0px 0px;
}

.menu li {
    display: inline;
    color: black;
    padding: 0px 15px;
}

.menu a {
    color:black;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

#menuFooter {
    text-align: center;
    margin-top: 60px;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul.long_list {
    text-align: left;
    margin-left: 40px;
}

div.col-sm-6 {
    margin-bottom: 20px;
}
